<div [class]="tierBase">
    <div [class]="wrapper">
    <div [class]="vr">
    <div [class]="panelMessageInfo">
      <div [class]="flag">
      <div [class]="flagImg">
        <i [class]="icon"></i>
        </div>
        <div [class]="flagBd">
          <div [class]="txtThick">
          </div>
          <div>
            <ul [class]="vList">
              <li>
                <div [class]="myaGrid">
                  <div [class]="myagrid__col__9of12__medium"
>
                    <p [class]="txtThick">Your Open Claims</p>
                    <p class="txt">You have open claims to view</p>
                  </div>
                  <div [class]="myaGrid__col__3of12__medium">
                  <ul [class]="vListFull">
                    <li>
                      <button [class]="btn"> View Claims </button>
                    </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
    </div>